.root {
  margin: 3rem 0;
  text-align: center;
}

.tabs {
  display: inline-flex;
}

.tab {
  min-width: 15rem;
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  transition: background-color var(--transition-ease);
}
.tab:hover {
  background-color: rgba(var(--theme-accent), 0.1);
  cursor: pointer;
}
.tab[aria-selected='true'] {
  border-bottom: 2px solid rgb(var(--theme-accent));
  border-color: rgb(var(--theme-accent));
}
